@model ProyectoASPTrimestre3.Models.BaseModelo

@{
    var cantidadPaginas = (int)Math.Ceiling((double)Model.Total / Model.RecordsPage);
}

@{
    int Inicial = 1;
    var radio = 3;
    var cantidadMaximaDePaginas = radio * 2 - 1;
    int Final = (cantidadPaginas > cantidadMaximaDePaginas) ? cantidadMaximaDePaginas : cantidadPaginas;

    if (Model.ActualPage > radio + 1)
    {
        Inicial = Model.ActualPage - radio;

        if (cantidadPaginas > Model.ActualPage + radio)
        {
            Final = Model.ActualPage + radio;
        }
        else
        {
            Final = cantidadPaginas;
        }
    }

}

<center>
    <ul class="pagination">
        @{Model.valueQueryString["pagina"] = 1; }

        <li>@Html.ActionLink("Primera", null, Model.valueQueryString)</li>
        @for (int i = Inicial; i <= Final; i++)
        {
            Model.valueQueryString["pagina"] = i;
            if (i == Model.ActualPage)
            {
                <li class="active">@Html.ActionLink(i.ToString(), null, Model.valueQueryString)</li>
            }
            else
            {
                <li>@Html.ActionLink(i.ToString(), null, Model.valueQueryString)</li>
            }
        }
        @{Model.valueQueryString["pagina"] = cantidadPaginas; }
        <li>@Html.ActionLink("Ultima", null, Model.valueQueryString)</li>
    </ul>
</center>