<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plantilla</title>
</head>
<body>
    <div> 
        @RenderBody()

        <p>@RenderSection("TextoP", required: false)</p>
    </div>
</body>
</html>
