@model ProyectoASPTrimestre3.Models.producto_imagen

@{
    ViewBag.Title = "Detalles Producto Imagen";
}

<h2>Detalles Producto Imagen</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imagen:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            Nombre Producto
        </dt>

        <dd>
            @ProyectoASPTrimestre3.Controllers.Producto_ImagenController.nombreProducto(Model.id_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todos", "Index")
</p>
