@model ProyectoASPTrimestre3.Models.usuariorol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>usuariorol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Rol:
        </dt>

        <dd>
            @ProyectoASPTrimestre3.Controllers.UsuarioRolController.nombreRol(Model.idRol)
        </dd>

        <dt>
            Nombre Usuario:
        </dt>

        <dd>
            @ProyectoASPTrimestre3.Controllers.UsuarioRolController.nombreUsuario(Model.idUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todos", "PaginadorIndex")
</p>
