@model IEnumerable<ProyectoASPTrimestre3.Models.usuario>

<select class="form-control" id="idUsuario" name="idUsuario">
    @foreach (var item in Model)
     {
       <option value="@item.id">@item.nombre</option>
     }
</select>
