@model ProyectoASPTrimestre3.Models.roles

@{
    ViewBag.Title = "Detalles Roles";
}

<h2>Detalles Roles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripcion Rol:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todos", "Index")
</p>
